@keyframes loading {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loginForm {
  font-family: Raleway;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 340px;
  background: #fff;
  box-shadow: 0px 5px 80px 0px #e4e8f0;
  overflow: hidden;
  .backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #d0d0d0;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    color: #fff;
    cursor: not-allowed;
    transition: all 200ms ease;
  }
  .backButton.active {
    background: #799e7a;
    cursor: pointer;
  }
  .backButton.disabled {
    background: #eee;
  }
  .line {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: #666;
    div {
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      margin: 10px;
      font-size: 20px;
      color: #888;
    }
  }
}
.phases {
  position: absolute;
  top: 160px;
  height: 200px;
  width: 200%;
  left: 0%;
  transition: all 300ms ease;
  div {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    * {
      margin: 8px 0px;
    }
    input {
      height: 40px;
      padding-left: 5px;
    }
    input.error {
      border-color: tomato;
    }
    button {
      height: 40px;
      padding-left: 5px;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 2px;
      background: #2f9f31;
      font-size: 17px;
      cursor: pointer;
    }
  }
}
.phases.next {
  left: -100%;
}
.send {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #888;
  }
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 5px solid #eee;
    border-top-color: #2f9f31;
    border-radius: 50%;
    animation: loading 900ms ease infinite;
  }
}
.loading.show,
.send.show {
  display: inline-block;
}
