$light-blue: #3498db;
$black: #000000;

.section {
  padding: 1rem;

    &_header {
        font-weight: 600;
        color: #333;
        font-size: 1.825rem;
        margin: 1.3rem 0;
    }

    &_lead {
        max-width: 600px;
        color: #333;
        margin: 1rem auto 1.5rem;
    }
}

.container {
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: $black;
  // width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    width: 330px;
	  height: 430px;
    flex: 0 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    // overflow: hidden;
    // position: relative;
    // top: 0;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;

    &:hover {
      top: -15px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $light-blue;
    }
  }
}

