$header-z-index: 100;

#header {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
  z-index: $header-z-index;
}

#normal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}

#logo {
  width: 250px;
  margin-left: 15%;
}

#navbar {
  ul {
    list-style: none;
    display: flex;
    flex-flow: row;
  }
  li {
    padding: 10px;
    margin: 12px;
  }
  a {
    text-decoration: none;
  }
}

/* Responsive Header */

#responsive {
  display: none;
}

#menuIcon {
  display: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.transparent {
  background: none;
}

.opaque {
  background: black;
}

/* @Media min-width: 480px */
@media only screen and (min-width: 200px) and (max-width: 860px) {
  /* General Elements */

  #title-text-separator {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 1px #ff5a6e;
  }

  /* Navigation CSS */
  #header {
    background: black;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    margin: auto;
  }

  #normal {
    display: none;
  }

  #responsive {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
  }

  #responsiveLogoContainer {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 1% 0;
  }

  #responsive-nav-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #responsive-nav-bar ul {
    list-style: none;
  }

  #responsive-nav-bar li {
    text-align: center;
    font-size: 23px;
    margin-top: 40%;
  }

  #responsive-first-item {
    margin-top: 0;
    padding: 0;
  }

  #responsiveLogo {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: auto;
  }

  #dropdown-button-black {
    display: block;
    width: 55%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #menuIcon {
    color: 'white';
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 2%;
  }
}
