$primary-color: #2f9f31;

@mixin clearfix() {

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

$header-padding-vertical: 3rem;
$header-z-index: 100;

.site {

  &__header_transparent {
    left: 0;
    padding: $header-padding-vertical 0;
    position: fixed;
    top: 0;
    background: transparent;
    transition: background, padding 0.5s;
    transform: translateZ(0);
    width: 100%;
    z-index: $header-z-index;
  }

  &__header_opaque {
    left: 0;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background: black;
    transform: translateZ(0);
    transition: background, padding 0.5s;
    width: 100%;
    z-index: $header-z-index;
  }

  &__logo {
    float: left;

    > img {
      height: 2.5rem;
      max-width: 100%;
      vertical-align: middle;
    }

  }

}

$grid-max-width: 74rem;
$grid-width: 90%;

.grid {
  @include clearfix();
  margin: 0 auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

$navigation-main-padding-horizontal: 2rem;
$navigation-main-padding-vertical: .5rem;
$navigation-link-color: #fff;

.navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    color: $navigation-link-color;
    text-decoration: none;
  }

  &__inline {
    > ul {
      @include clearfix();

      > li {
        float: left;
      }

    }

  }

  &__main {
    float: right;
    text-transform: uppercase;

    > ul {
      margin: 0 (-1 * $navigation-main-padding-horizontal);

      > li {
        margin: 0 $navigation-main-padding-horizontal;
      }

    }

    a {
      padding-top: $navigation-main-padding-vertical;
      padding-bottom: $navigation-main-padding-vertical;
    }

  }

}

$button-primary-bgcolor: $primary-color;

.button {
  display: inline-block;
  padding: .5rem 1rem;

  &__primary {
    // background-color: $button-primary-bgcolor;
    border: 2px solid white;
  }

  &__rounded {
    border-radius: 999px;
  }

  &__scroll {
    bottom: 2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

}
