.contentSection {
  padding: 50px 0;
  background: rgb(47, 159, 49);
  background: linear-gradient(90deg, rgba(47, 159, 49, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#button {
  margin-top: 30px;
  background: #fff;
  border: none;
  border-radius: 0%;
  padding: 15px 15px 15px 15px;
  font-size: 18px;
  line-height: 1.3333333;
}

#button:hover {
  margin-top: 30px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0%;
  padding: 15px 15px 15px 15px;
}

.networkName {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
}

.phone {
  height: 400px;
  width: 409px;
  float: left;
}

.lead {
  font-size: 26px;
  font-weight: 400;
  color: #333333;
}
.leadWhite {
  float: left;
  font-size: 26px;
  font-weight: 400;
  color: white;
}

.sectionHeading {
  margin-bottom: 10px;
  color: #333333;
}

.sectionHeadingWhite {
  margin-bottom: 10px;
  color: white;
}

.sectionHeadingSpacer {
  float: left;
  width: 100px;
  border-top: 3px solid #02e0c6;
}

.sectionHeadingSpacerWhite {
  float: left;
  width: 100px;
  border-top: 3px solid #ffffff;
}

#responsive {
  float: right;
}

@media (max-width: 1199px) {
}

@media (max-width: 767px) {
}
